@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Grey+Qo&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

.blog-intro{       
    margin-bottom: 70px !important; 
    color: black;
    text-align: center;
}

.blog-intro h2{
    font-family: "Caveat", system-ui;
    font-size: 35px;
    margin-bottom: 20px;
}

.blog-intro p{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Josefin Sans", system-ui;
    font-size: 17px;
    font-weight: 350;
}

.btns Button{
    letter-spacing: 1px !important;
}

.btns .btn-read{
    margin-right: 20px;
}

