.appbar{
    background-color: #ffffff !important;  
    color: black !important;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2) !important;
}
   

.nav-menu .nav-link {
    position: relative;
    text-decoration: none;    
    color: black; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
}

.nav-menu .nav-link::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 1.4px; 
    background-color: black; 
    transition: opacity 0.3s ease;
    opacity: 0;
}

.nav-menu .nav-link:hover::after {
    opacity: 1;
}





